@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/bellota/Bellota-LightItalic.otf');
}

@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #e6eae8;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #62b8f8;
  border-bottom: 5px solid #055997;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 30;
  position: relative;
  top: 9px;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #030303;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #030303;
  z-index: -1;
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}
