@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/bellota/Bellota-LightItalic.otf');
}

@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #e6eae8;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #62b8f8;
  border-bottom: 5px solid #055997;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 30;
  position: relative;
  top: 9px;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #030303;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #030303;
  z-index: -1;
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.main_column {
  float: : right;
  width: 70%;
  min-height: 160px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 80%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #030303;
  font-size: 12px;
}

textaread:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 10%;
  height: 60px;
  border: none;
  background-color: #3498db;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #fff;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
  border-radius: 5px;
}


.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

.status_post {
  width: 95%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
}

.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.post_profile_pic img {
  border-radius: 5px;
}

#comment_iframe {
  max-height: 250px;
  width: 100%;
  background-color: #e6eae8;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 5px;
}

#comment_form textarea {
  border-color: #D3D3D3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  background-color: #22AAE5;
  color: #fff;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  border: none;
  color: #337ab7;
}
